<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8" defer></script>
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- <ul>
        <% nodes.forEach(e=>{ %>
            <img src="\images\<%=e.metadata%>">
        <% })%>
    </ul> -->
    <div>
        <svg style="height: 600px; width: 900px;"></svg>
    </div>
</body>
</html>